.CartWidget {
  display: flex;
  align-items: center;
  background-color: #ff6600;
  padding: 10px;
  border-radius: 5px;
}

.CartImage {
  width: 24px;
  margin-right: 5px;
}

.CartCount {
  font-size: 18px;
  color: white;
}